{% extends "foi_search_app/base.html" %}


{% block title %}Search{% endblock %}

{% block content %}

    <form action="{% url 'search' %}" method="get">
        <label>
            Search
            <input type="text" name="search" value="{{ search_query }}">
        </label>
        <input type="submit">
    </form>


    {% if results %}


        <ul>
        {% for result in stats_by_source %}
            <li>
                <p>{{ result.key }} has {{ result.doc_count }} results</p>
            </li>
        {% endfor %}
        </ul>

        <ul>
        {% for result in results %}
            <li>
                <p>{{ result.question }}</p>
                <a href="{% url 'view' data_id=result.id %}">View</a>
                From {{ result.source_title }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No results</p>
    {% endif %}

{% endblock %}
