{% extends "foi_search_app/base.html" %}


{% block title %}Search{% endblock %}

{% block content %}

    <form action="{% url 'search' %}" method="get">
        <label>
            Search
            <input type="text" name="search" value="{{ search_query }}">
        </label>
        {% if results and stats_by_source|length > 1 %}
            <div>
                {% for result in stats_by_source %}
                <label>
                    <input type="checkbox" name="source-{{ result.key }}" value="yes">
                    {{ result.key }} ({{ result.doc_count }} results)
                </label>
                {% endfor %}
            </div>
        {% endif %}
        <input type="submit">
    </form>


    {% if results %}


        <ul>
            <li>{{ total_results_count }} results in total</li>
            {% if search_source %}
            <li>
                Currently showing results in {{ search_source }} only.
                <a href="{% url 'search' %}?search={{ search_query|urlencode }}">
                    Show all
                </a>
            </li>
            {% else %}
                {% for result in stats_by_source %}
                    <li>
                        <p>
                            <a href="{% url 'search' %}?search={{ search_query|urlencode }}&source={{ result.key|urlencode  }}">
                                {{ result.key }} has {{ result.doc_count }} results
                            </a>
                        </p>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        <ul>
        {% for result in results %}
            <li>
                <p>{{ result.question }}</p>
                <a href="{% url 'view' data_id=result.id %}">View</a>
                From {{ result.source_title }}
            </li>
        {% endfor %}
        </ul>


        <div>
            {% if show_page_prev %}
                <a href="{% url 'search' %}?search={{ search_query|urlencode }}&page=1">FIRST</a>
                <a href="{% url 'search' %}?search={{ search_query|urlencode }}&page={{ page_number|add:"-1" }}">PREV</a>
            {% endif %}
            Page {{  page_number }} of {{ total_pages }}
            {% if show_page_next %}
                <a href="{% url 'search' %}?search={{ search_query|urlencode }}&page={{ page_number|add:"1" }}">NEXT</a>
                <a href="{% url 'search' %}?search={{ search_query|urlencode }}&page={{ total_pages }}">LAST</a>
            {% endif %}
        </div>


    {% else %}
        <p>No results</p>
    {% endif %}

{% endblock %}
